@media screen and (max-width: 767px){  
    /* ALL */ 
    *{
        box-sizing: border-box;
        overflow-x: hidden;
    }

    body{
        width: 100%;
    }

    /* HEADER */
    .header{
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .header img{
        margin-top: 0;
        margin-left: 20px;
    }

    /* NAV */
    nav{
        width: 100%;        
    }

    nav ul{
        flex-wrap: wrap;
        padding: 0;
    }

    nav li{
        margin: 0;
        text-align: center;
    }

    nav li:nth-child(1){
        order: 2;
        width: 50%;
        font-size: 1em;
        margin-top: 15px;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 15px;
    }

    nav li:nth-child(1):hover{
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
    }

    nav li:nth-child(2){
        order: 3;
        width: 50%;
        font-size: 1em;
        margin-top: 15px;
        border-bottom: solid 3px #F2F2F2;
       
    }

    nav li:nth-child(2):hover{
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
    }

    nav li:nth-child(3){
        position: absolute;
        font-size: 1.1em;
        font-weight: bold;
        order: 1;
        margin-left: 75%;
        margin-top: -45px;
    }

    /* SECTION : RECHERCHE */
    .titre{
        width: 95%;
        margin-left: 20px;
    }

    .titre h1{
        font-size: 1.5em;
        width: 90%;
        margin-top: 15px;
    }

    .titre p{
        margin-bottom: 25px;
        font-size: 1.05em;
        width: 100%
    }

    /* BARRE DE RECHERCHE */
    .barre-de-recherche{
        margin-left: 20px;
    }

    .fas.fa-map-marker-alt{
        width: 70px;
        padding-top: 18px;
        font-size: 18px;
    }

    form{
        display: flex;
        width: 92%;
        border-radius: 12px 15px 15px 12px;
    }

    .text{
        margin-left: 10px;
        font-size: 16px;
        width: 100%;
    }

    .button{
        border-radius: 15px;
        padding: 18px;
        padding-right: 25px;
    }

    .button-desktop{
        display: none;
    }

    .button-mobile{
        display: initial;
        font-size: 16px;
    }

    /* FILTRES */
    .filtres{
        margin: 0 35px 0 20px;
        flex-wrap: wrap;
    }

    .filtres p{
        font-size: 1.2em;
        margin-bottom: 15px;
        width: 100%;
    }

    .filtres i{
        padding: 12px;
        margin-right: 10px;
    }

    .filtres .bloc{
        font-size: 1.2em;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 5px;
    }

    .fas.fa-info{
        height: 20px;
        width: 25px;
        padding: 3px;
        font-size: 10px;
    }

    .indication{
        display: flex;
        font-size: 1.05em;
        width: 90%;
        margin-left: 20px;
        margin-top: 0;
    }

    /* ASIDE */
    aside{
        width: 100%;
        border-radius: 0;
        padding-bottom: 20px;
    }

    aside figure{
        height: 120px;
        width: 97%;
        margin-left: 5px;
    }

    aside figcaption{
        margin-left: 20px;
        width: 55%;
    }

    aside p{
        font-size: 0.8em;
    }

    aside .fas.fa-star{
        margin-top: -15px;
    }

    /* SECTION : HEBERGEMENTS */
    #hebergements{
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-block{
        width: 100%;
        background-color: white;
        flex-direction: column;
        padding-bottom: 20px;
    }

    h2{
        font-size: 1.3em;
        margin-top: 20px;
    }

    h3{
        font-size: 1em;
    }

    .hebergements-block figure{
        width: 100%;
    }

    .hebergements-block p{
        font-size: 0.8em;
    }

    /* SECTION : ACTIVITES */
    #activites{
       flex-direction: column;
    }

   #activites figure{
       margin: 5%;
       margin-bottom: 5px;
    }

    #activites figure img{
        height: 120px !important;
    }

   #activites figcaption{
       margin-bottom: 5px;
       margin-top: 5px;
    }

   #activites h3{
       font-size: 1em;
    }

   #activites h2{
       margin-right: -20px;
       margin-left: 20px;
    }

    /* FOOTER */
    footer{
       display: block;
    }

   footer h4{
       font-size: 1.1em;
    }

   footer p{
       font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* ALL */
    *{
        box-sizing: border-box;
        overflow-x: hidden;
    }

    body{
        width: 100%;
    }

    /* HEADER */
    .header{
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .header img{
        margin-top: 0;
        margin-left: 20px;
    }

    /* NAV */
    nav{
        width: 100%;        
    }

    nav ul{
        flex-wrap: wrap;
        padding: 0;
    }

    nav li{
        margin: 0;
        text-align: center;
    }

    nav li:nth-child(1){
        order: 2;
        width: 50%;
        font-size: 1em;
        margin-top: 15px;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 15px;
    }

    nav li:nth-child(1):hover{
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
    }

    nav li:nth-child(2){
        order: 3;
        width: 50%;
        font-size: 1em;
        margin-top: 15px;
        border-bottom: solid 3px #F2F2F2;
       
    }

    nav li:nth-child(2):hover{
        color: #0065FC;
        border-bottom: solid 2px #0065FC;
    }

    nav li:nth-child(3){
        position: absolute;
        font-size: 1.2em;
        font-weight: bold;
        order: 1;
        margin-left: 85%;
        margin-top: -45px;
        margin-right: 0;
        float: right;
    }

    /* SECTION : RECHERCHE */
    .recherche-block{
        margin-left: 20px;
    }

    .titre h1{
        font-size: 1.2em;
    }

    .titre p{
        font-size: 0.9em;
        width: 100%;
    }

    /* BARRE DE RECHERCHE */
    .fas.fa-map-marker-alt{
        padding: 15px;
        padding-right: 25px;
        width: 45px;
    }

    form{
        display: flex;
        width: 50%;
    }

    .text{
        width: 100%;
        margin-left: 15px;
        font-size: 0.9em;
    }

    .button{
        padding: 15px;
        width: 170px;
    }

    /* FILTRES */
    .filtres{
        flex-wrap: wrap;
    }

    .filtres p{
        font-size: 1.2em;
        margin-bottom: 15px;
        width: 100%;
    }

    .filtres .bloc{
        font-size: 1.2em;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 5px;
    }


    .fas.fa-info{
       height: 25px;
       width: 25px;
       padding: 5px;
       font-size: 10px;
    }

    .indication{
        font-size: 0.9em;
    }

    /* SECTION : HEBERGEMENTS */
    #hebergements{
       display: flex;
       flex-direction: column-reverse;
    } 

    .hebergements-block{
        width: 100%;
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }
 
    .hebergements-block p{
         font-size: 0.8em;
    }

    h2{
        font-size: 1em;
    }

    h3{
        font-size: 0.9em;
    }

    /* ASIDE */
    aside{
       width: 100%;
       border-radius: 0;
       padding-bottom: 20px;
    }

    .fas.fa-chart-line{
        margin-right: 20px;
    }

    aside figcaption{
        width: 60%;
    }

    aside figcaption p{
        font-size: 0.8em;
    }

    /* SECTION : ACTIVITES */
    #activites{
        margin-left: 20px;
        margin-right: 20px;
    }

    #activites figure{
        margin-bottom: 35px;
    }

    #activites .item1{
        height: 390px;
    }

    #activites .item3{
        height: 140px;
    }

    #activites .item4{
        height: 390px;
    }

    #activites .item6{
        height: 190px;
    }

    .noflex{
        display: block;
    }

    /* FOOTER */
    footer p{
        font-size: 0.8em;
    }
}