/* ALL */
body{
    font-family: 'Raleway', sans-serif, arial;
    padding: 0;
    width: 70%;
    margin: auto;
}

/* HEADER */
header{
    padding-top: 16px;
    padding-bottom: 12px;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 70%;
    background-color: #FFF;
}

/* NAV */
nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-right: 30px;
    font-size: 0.8em;
    color: grey;
}

nav li:nth-child(3) a{
    color: #0065FC;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: grey;
}

nav a:hover{
    color:#0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 30px;
}

/* SECTION : RECHERCHE */
.recherche-block{
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.titre h1{
    color: black;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: -5px;
}

.titre p{
    font-size: 0.7em;
    color: grey;
}

/* BARRE DE RECHERCHE */
label{
    display: none;
}

.barre-de-recherche{
    display: flex;
}

.fas.fa-map-marker-alt{
    text-align: center;
    width: 15px;
    background-color: #F2F2F2;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    padding-top: 13px;
    padding-bottom: 11px;
}

form{
    display: flex;
    margin: 5px 0px 5px 0px;
    border: solid 2px #F2F2F2;
    border-radius: 11px 15px 15px 11px;
    border-right: none;
}

.text{
    border: none;
    outline: none;
    margin-left: 10px;
    width: 200px;
}

.button-mobile{
    display: none;
}

.button{
    font-weight: bold;
    font-family: 'Raleway', sans-serif, arial;
    border-style: none;
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

/* FILTRES */
@keyframes filtreAnimation {
    from {
        color: black;    
    }

    to {
        color: #0065FC;
        font-size: 1em;
    }
}

@keyframes backgroundAnimation {
    from {
        color: white;
    }

    to {
        background-color: #F2F2F2;
    }
}

.filtres{
    display: flex;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.filtres p{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    margin-right: 15px;
}

.filtres i{
    border-radius: 100px;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 10px;
    margin-right: 10px;
    font-size: 0.9em;
}

.filtres .bloc {
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    border-left: none;
    margin-right: 10px;
    padding-right: 10px;
}

.filtres .bloc:hover{
    animation: backgroundAnimation 0.8s infinite
               alternate;
}

.filtres .bloc a{
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

.filtres .bloc a:hover{
    animation: filtreAnimation 0.8s infinite 
                alternate;
}

.fas.fa-info{
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 11px;
    text-align: center;
    margin-right: 5px;
}

.indication{
    color: grey;
    font-size: 0.7em;
}

/* SECTION : HEBERGEMENTS */
#hebergements{
    display: flex;
}

.hebergements-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    width: 70%;
    background-color: #F2F2F2;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

h2{
    width: 100%;
    margin-top: 30px;
    font-size: 1em;
    font-weight: bold;
}

#hebergements a{
    display: contents;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.hebergements-block figure{
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #D3D3D3;
    width: 30%;
    margin: 0;
    margin-bottom: 20px;
}

.hebergements-block img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: -10px;

}

.hebergements-block figcaption{
    padding: 5px 0 10px 10px;
    text-align: left;
}

h3{
    margin-bottom: -8px;
    font-size: 0.8em;
    font-weight: bold;
}

.hebergements-block p{
    color: grey;
    font-size: 0.7em;
    margin-bottom: 0px;
}

.fas.fa-star{
    color: #0065FC;
    font-size: 10px;
}

.grey{
    color: grey !important;
}

/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    width: 40%;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
}

.fas.fa-chart-line{
    float: right;
}

aside figure{
    display: flex;
    margin: auto;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #D3D3D3;
    width: 90%;
    margin-bottom: 20px;
    height: 120px;
}

aside img{
    width: 35%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

aside figcaption{
    margin-left: 20px;
    margin-bottom: 5px;
    width: 50%;
}

aside p{
    font-size: 0.7em;
    color: grey;
}

aside .fas.fa-star{
    margin-top: -10px;
}

/* SECTION : ACTIVITES */
#activites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#activites a{
    display: contents;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#activites figure{
    border-radius: 15px;
    margin: 0;
    border: 2px solid #F2F2F2;
    box-shadow: 5px 5px 5px #F2F2F2;
    flex-basis: 25%;
}

#activites img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 100px;
    width: 100%;
}

#activites h3{
    margin: auto;
    padding: 5px 0 10px 10px;
    width: 90%;
}

.noflex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 20%;
}

#activites .item1{
    height: 350px;
}

#activites .item2{
    height: 175px;
}

#activites .item3{
    height: 110px;
}

#activites .item4{
    height: 350px;
}

#activites .item5{
    height: 110px;
}

#activites .item6{
    height: 175px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 0 100px 30px 30px;
}

footer p{
    font-size: 0.7em;
}

footer a{
    text-decoration: none;
    color: grey;
}

footer h4{
    font-weight: bold;
}











