/* ALL */
body{
    font-family: 'Raleway', sans-serif, arial;
    padding: 0;
    width: 70%;
    margin: auto;
}

/* HEADER */
header{
    padding-top: 30px;
    margin-bottom: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* NAV */
nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-right: 30px;
    font-size: 0.8em;
    color: grey;
}

nav a{
    text-decoration: none;
    color: grey;
}

nav a:hover{
    color:#0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 43px;
}

nav li strong{
    color: #0065FC;
    font-weight: bold;
}

/* SECTION : RECHERCHE */
.block-1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titre h1{
    color: black;
    height: 12px;
    width: 500px;
    font-size: 1em;
}

.titre p{
    width: 250px;
    font-size: 0.7em;
    color: grey;
}

/* BARRE DE RECHERCHE */
form{
    margin: 1px 0px 15px 0px;
    width: 297px;
    height: 30px;
    border: solid 2px #F2F2F2;
    border-radius: 10px;
    border-right: none;
    padding-left: 0px;
}

.fas.fa-map-marker-alt{
    width: 15px;
    padding: 7px;
    border-radius: 6px 0px 0px 6px ;
    background-color: #F2F2F2;
}

.text{
    border: none;
    outline: none;
    height: 20px;
}

.button{
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif, arial;
    width: 110px;
    height: 32px;
    padding: 8px 10px 10px 10px;
    border-style: none;
    border-radius: 0px 7px 7px 0px;
    background-color: #0065FC;
    color: white;
}

/* FILTRES */
.filtres{

    display: flex;
    justify-content: flex-start;
    width: 750px;
    font-size: 0.9em;
    font-weight: bold;
}

.filtres i{
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 9px;
    margin-right: 10px;
    margin-left: -15px;
}

.filtres .mot{
    text-align: center;
    border: solid 2px #F2F2F2;
    border-radius: 0 20px 20px 0;
    border-left: none;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px; 
    padding-right: 10px;
    padding-left: 0;
}

.fas.fa-info{
    text-align: center;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 10px;
}

.indication{
    color: grey;
    font-size: 0.7em;
}

/* SECTION : HEBERGEMENTS */
h2{
    width: 100%;
    margin-top: 30px;
    font-size: 1em;
    font-weight: bold;
}

h3{
    margin-bottom: -8px;
    font-size: 0.8em;
    font-weight: bold;
}

.grey{
    color: grey !important;
}

.fas.fa-star{
    color: #0065FC;
    font-size: 10px;
}

.hebergements{
    display: flex;
}
.hebergements-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    width: 70%;
    background-color: #F2F2F2;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.hebergements-left figure{
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    box-shadow: 1px 1px 5px grey;
    width: 30%;
    margin: 0;
    margin-bottom: 20px;
}

.hebergements-left figcaption{
    padding: 0 0 10px 10px;
    text-align: left;
}

.hebergements-left img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: -10px;

}

.hebergements-left p{
    color: grey;
    font-size: 0.7em;
    margin-bottom: 0px;
}

.hebergements-left figure + h2{
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.8em;
}

/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    width: 40%;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
}

.fas.fa-chart-line{
    float: right;
}

aside figure{
    display: flex;
    margin: 0;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey;
    width: 90%;
    margin-bottom: 20px;
}

aside img{
    width: 35%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

aside p{
    font-size: 0.7em;
    color: grey;
}

aside figcaption{
    margin-left: 5px;
    margin-bottom: 5px;
}

/* SECTION : ACTIVITES */
.activites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    width: 900px;
    margin-bottom: 30px;
}

.activites .item1{
    height: 300px;
}

.activites .item2{
    height: 150px;
}

.activites .item3{
    height: 90px;
}

.activites .item4{
    height: 300px;
}

.activites .item5{
    height: 90px;
}

.activites .item6{
    height: 150px;
}

.activites img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.activites figure{
    border-radius: 15px;
    margin: 0;
    border: 2px solid #F2F2F2;
    box-shadow: 1px 1px 10px grey;
    width: 200px;
}

.activites h3{
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 300px;
    padding-right: 100px;
    padding-left: 30px;
}

footer h4{
    font-weight: bold;
}

footer p{
    font-size: 0.7em;
}









